/Kruskal_BRUTE
/Articulation_points_TARJAN
/Bellman_Ford
/Bridges_TARJAN
/Edmonds_karp
/Eulerian_path
/Ford_Fulkerson
/Kruskal_UNION_FIND
/tarjan_SCC
/Kosaraju
/Diameter_of_a_tree
/Topological_sort

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
